@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind colors;


body {
    @apply bg-white
}
.langs-wrapper {
    border-top-left-radius:1em;
    border-top-right-radius: 1em;
    background: #292728;
    @apply p-4;
    img {
        @apply mr-4 border border-grey
    } 
}
.lang {
    @apply flex-row h-8
}
.lang {
        
        img {
            @apply inline-block h-full w-auto flex-col cursor-pointer bg-white rounded
        }
    
}
img.inactive {
    filter: grayscale(100%);
}
.product-data {
    @apply w-full
}
.button {
    border-color: #292728;
    color: #555;
    @apply appearance-none block w-full border rounded py-3 px-4 mb-4 leading-tight
}
#product {
    @apply p-8 mt-16
}
.editor-wrapper {
    @apply min-h-full
}
.ql-editor {
    min-height: 400px !important;
}
.image-uploader {
    border: 1px solid darkgrey;
    width: 23em !important; 
    height: 23em !important; 
    @apply rounded-lg mb-8 flex flex-col items-center content-center justify-center;  
}
.image-uploader img {
    width: 90% !important;
    // height: 80% !important;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292728;
    z-index: 100;
    @apply w-screen;
    img {
        filter: brightness(0) invert(1);
    }
    a {
        color: #838383;
        text-decoration: none;
    }
    a:hover {
        color: white;
    }
}
.multiselect__tags {
    border-color: #292728 !important;
    font-size: 1rem !important;
    padding: 0.75rem 1rem !important;
}
.multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 0.5rem !important;
    padding-right: 2rem !important;
    border-radius: 0.25rem;
    margin-right: 1rem;
    color: #fff;
    line-height: 1rem !important;
    background: #00adef !important;
    margin-bottom: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
.multiselect__tag-icon {
    color: white !important;
}
.multiselect__tag-icon:hover {
    background: #00adef !important;
}
.multiselect__option--highlight {
    background: #00adef !important;
}
.mx-datepicker-range {
    width: 18em !important;
}
.mx-input {
    padding: 0.75rem 2rem !important;
    height: 100% !important;
    font-size: 1rem !important;
    line-height: 1.2rem !important;
    border-color: #292728 !important;
}
.multiselect__input {
    margin-top: 1em !important;
}
.save {
    margin-top: 1.65rem;
    @apply bg-green-dark text-white border-white
}
.disabled {
    background: #615C5F;
    @apply text-grey
}
.price-input {
    width: 9rem !important;
}
.product-currency {
    width: 8rem;
}
.product-name {
    width: 20rem;
}

.select {
    
    select {
        @apply button
    }
    
    
}

.select-arrow {
    top: 0;
    right: 0;
    @apply h-full
}

.message {
    z-index: 200;
    top: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    @apply absolute w-full
}
#products {
    padding: 2rem;
    margin-top: 4rem;
}
.product-list-item {
    @apply mb-8 border-grey-light w-full p-4 rounded-lg border shadow-md cursor-pointer;
}
.product-image {
    img {
        width: auto;
        height: 100%;
    }
    @apply h-32 mr-8
}
.list-item-button {
    
}
#detail-container {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 8rem;
    z-index: 10000;
    @apply w-full bg-white
}
.tag {
    color: #00adef;
    @apply inline-block mr-4
}
.detailImage {
    @apply flex w-2/5 border rounded-lg items-center content-center justify-center mr-8 p-4
}
.detailImage img {
}