<template>
  <div class="datepicker">
    <date-picker v-model="product.publish" range :shortcuts="shortcuts" :lang="lang"></date-picker>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";

export default {
  components: { DatePicker },  
  data() {
    return {
      product: this.$root.product,
      // time: "",
      // custom lang
      publish: [],
      lang: {
        days: ["V", "H", "K", "Sz", "Cs", "P", "Sz"],
        months: [
          "Jan",
          "Febr",
          "Márc.",
          "Ápr.",
          "Máj.",
          "Jún.",
          "Júl.",
          "Aug.",
          "Szept.",
          "Okt.",
          "Nov.",
          "Dec."
        ],
        pickers: [
          "köv. 7 nap",
          "köv. 30 nap",
          "elő. 7 nap",
          "elő. 30 nap"
        ],
        placeholder: {
          date: "Dátum választás",
          dateRange: "Időintervalum"
        }
      },
      watch: {
        
      },
      // custom range shortcuts
      shortcuts: [
        {
          text: "Ma",
          onClick: () => {
            this.time = [new Date(), new Date()];
          }
        }
      ],
      timePickerOptions: {
        start: "00:00",
        step: "00:30",
        end: "23:30"
      },

    }
  },
  mounted() {
        this.$root.$on("LOADED-EDIT-DATA", this.loadedData);

  },
  methods: {
    loadedData() {
      this.product = this.$root.product
      
    }
  }
};
</script>