<template>
  <div class="editor-wrapper">
    <vue-editor v-model="editor.content"></vue-editor>
  </div>
</template>

<script>
import { VueEditor, Quill } from "vue2-editor";

export default {
  components: {
    VueEditor
  },
  data() {
    return {
        editor: this.$root.editor

    };
  },
  mounted() {
  }
};
</script>