<template>
  <div>
    <label class="typo__label mb-2 inline-block">Címkék</label>
    <multiselect
      v-model="value"
      selectLabel="Kiválasztás Enter"
      deselectLabel="Törlés Enter"
      tag-placeholder="Új címke"
      placeholder="Keresés vagy új címke"
      label="name"
      track-by="code"
      :options="options"
      :multiple="true"
      :taggable="true"
      @tag="addTag"
    ></multiselect>
  </div>
</template>


<script>
import Multiselect from "vue-multiselect";
import axios from "axios";
export default {
  components: { Multiselect },
  data() {
    return {
      value: [],
      options: [],
      language: this.$root.languages,
      tags: this.$root.tags,
    };
  },
  watch: {
    value() {
      this.tags.selected[this.language.selected] = this.value
    },
    'language.selected': function(newVal, oldVal) {
        this.value = this.tags.selected[this.language.selected]
    },
  },
  mounted() {
    this.$root.$on("RESET-STATE", this.resetState)
    this.$root.$on("INITED-DATA", this.initedData)
    this.$root.$on("LOADED-EDIT-DATA", this.loadedData);

  },
  methods: {
      resetState() {
      this.value = []
    },
    initedData() {
      this.getTags()
    },
    loadedData() {
      this.value = this.tags.selected[this.language.selected]
      this.tags.selected[this.language.selected] = this.value
    },
    getTags() {
      let url = "/tags/" + this.language.selected;
      let that = this;
      axios
        .get(url)
        .then(function(response) {
          that.options = response.data;
        })
        .catch(function(error) {});
    },
    addTag(newTag) {
      let data = {
        tag: newTag,
        lang: this.language.selected
      };
      let that = this;
      axios
        .post("/tag/add", data)
        .then(response => {
          let tag = response.data;
          that.options.push(tag);
          that.value.push(tag);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

