<template>
    <div class="langs-wrapper">
    <div class="lang" id="lang-wrapper">
        <LangItem v-for="lang in languages.data" v-bind:key="lang.langCode" :lang="lang"></LangItem> 
    </div>
    </div>
</template>

<script>
import axios from 'axios'
import LangItem from './LangItem'
export default {
    components: {
        LangItem
    },
    data() {
        return {
            languages: this.$root.languages,
        }
    },
    created() {
        this.$root.$on("INITED-DATA", this.initedData)

    },
    mounted() {
    },
    methods: {
        initedData() {
        }
    },
}

</script>