
<template>
    <img :class="langClass"  :src="image" @click="changeLang" />
</template>

<script>
export default {
    props: ['lang'],
    watch: {
        languages: {
            handler(value, oldValue) {
                this.languages.selected
            },
            deep: true
        },
        
    },
    computed: {
        langClass() {
            if (this.languages.selected == this.lang.langCode) {
                return ""
            } else {
                return "inactive"
            }
        },
        image() {
            return "assets/" + this.lang.langCode + ".svg"
        }
    },
    data() {
        return {
            languages: this.$root.languages,
        }   
    },
    methods: {
        changeLang() {
            this.languages.selected = this.lang.langCode
        }
    },
    mounted() {
    }
}
</script>