<template>
    <div class="product" id="products">
        <ProductListItem v-for="product in products.data" v-bind:key="product.id" :item="product">
            

        </ProductListItem>
    </div>
</template>

<script>
import axios from 'axios'
import ProductListItem from './ProductListItem'
export default {
    components: {
        ProductListItem
    },
    data() {
        return {
            products: this.$root.products
        }
    },
    mounted() {
        this.$parent.resetState()
        this.getProducts()
    },
    methods: {
        getProducts() {
            var that = this
            axios.get('/products').then(response => {
                that.products.data = response.data
            })
        }
    },
}
</script>