<template>
  <div class="product" id="product">
    <div class="flex">
      <Uploader></Uploader>
      <div class="pl-8 w-full">
        <Langs class="mb-4"></Langs>
        <div class="product-data flex">
          <div class="w-full mr-4">
            <label class="typo__label mb-2 inline-block">Termék név</label>
            <input
              type="text"
              placeholder="Termék név"
              v-model="data.name"
              class="focus:outline-none focus:bg-white button product-name"
            />
          </div>
          <div class="w-full mr-4">
            <label class="typo__label mb-2 inline-block">Publikálás kezdete és vége</label>
            <Datepicker></Datepicker>
          </div>
          <div class="w-full mr-4">
            <label class="typo__label mb-2 inline-block">Termék ára</label>
            <input
              type="number"
              min="0"
              step=".01"
              v-model="product.price"
              class="focus:outline-none focus:bg-white button price-input"
            />
          </div>
          <div class="w-full mr-4">
            <Currency></Currency>
          </div>

          <div class="w-full">
            <button :class="saveEnabled" @click="saveProduct">Mentés</button>
          </div>
        </div>
        <div class="flex-row">
          <Tags class="mb-8"></Tags>
          <label class="typo__label mb-2 inline-block">Termék leírás</label>
          <Editor></Editor>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
// import Vue from 'vue';

import Editor from "../Editor/Editor";
import Datepicker from "../Date/Datepicker";
import Uploader from "../Uploader/Uploader";
import Langs from "../Language/Langs";
import Tags from "../Tags/Tags";
import Currency from "../Currency/Currency";

import axios from "axios";

// Vue.use(SimpleVueValidation);

export default {
  components: {
    Datepicker,
    Uploader,
    Editor,
    Langs,
    Tags,
    Currency
  },

  computed: {
    saveEnabled: function() {
      if (this.inited) {
        return "button save bg-green-dark";
      }
      return "button save disabled";
    }
  },
  watch: {
    "language.selected": function(newVal, oldVal) {
      this.data.name = this.product.data[this.language.selected]["name"];
      this.editor.content = this.product.data[this.language.selected][
        "description"
      ];
    },
    "data.name": function(newVal, oldVal) {
      this.product.data[this.language.selected]["name"] = newVal;
    },
    "editor.content": function(newVal, oldVal) {
      this.product.data[this.language.selected]["description"] = newVal;
    }
  },
  data() {
    return {
      language: this.$root.languages,
      editor: this.$root.editor,
      product: this.$root.product,
      inited: true,
      data: {
        name: ""
      }
    };
  },
  created() {
    this.$root.$on("INITED-DATA", this.initedData);
    this.$root.$on("LOADED-EDIT-DATA", this.loadedData);

    this.$root.$on("RESET-STATE", this.resetState);
  },

  methods: {
    saveProduct() {
      let data = {
        product: this.product,
        tags: this.$root.tags
      };

      var valid = true;
      if (!valid) {
        return false;
      }
      var that = this;
      axios
        .post("/product/save", data)
        .then(response => {
          if (that.product.productID) {
            return
          } else {
            that.$parent.resetState();
          }
          
        })
        .catch(error => {
          let response = error.response.data;
          that.$root.showErrors(response);
        });
    },
    mounted() {
      this.$parent.resetState()
    },
    initedData() {
      var that = this
      setTimeout(function() {
        that.inited = true;
      }, 100)
      
    },
    resetState() {
      this.data.name = "";
    },
    loadedData() {
      this.data.name = this.product.data[this.language.selected]["name"]
      this.editor.content = this.product.data[this.language.selected]["description"]
      this.inited = true
    }
  }
};
</script>