<template>
    <div id="detail-container" class="flex flex-col">
        <div class="w-32">
            <button class="button" @click="close">Bezár</button>
        </div>
      <div class="flex">
         <div class="detailImage">
             <img :src="image" class="productImage"/>     
         </div> 
        
        <div class="product-data ">
          <div class="w-full mr-4 mb-4">
            <h1>{{ product.name }}</h1>
          </div>
          <div class="w-full mr-4 mb-4">
            <h3 class="typo__label mb-2 inline-block">{{ product.publishBegin }} - {{ product.publishEnd }}</h3>
            
          </div>
          <div class="w-full mr-4 mb-4">  
            <h3 class="typo__label mb-2 inline-block">Ár: {{ product.price }} {{ product.code }}</h3>
          </div>
          <div class="w-full mr-4 mb-4" v-html="product.productDesc">
          </div>
          <h3 class="mb-4">Címkék:</h3>
          <span v-for="tag in tags" v-bind:key="tag.id" class="tag">
              {{ tag.name }}

          </span>


        </div>
        <div class="flex-row">
          
          
         
        </div>
    
    </div>
        
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            productID: this.$root.detail.productID,
            product: {},
            tags: []
        }
    },
    computed: {
        image() {
            return '/storage/' + this.product.imageName
        }
    },
    created() {
        
    },
    mounted() {
        this.$root.$on("LOADED-PRODUCT", this.loaded)
        this.loadData()
        this.getTags()
    },
    methods: {
        close() {
            this.$root.closeDetail()
        },
        loadData() {
            // this.language = this.product.languages
            // this.product = data.product
            let url = '/product/' + this.productID + '/HU'
                var that = this
                axios.get(url).then(response => {
                    that.product = response.data.product

                }).catch(error => {
                    console.log(error)
                })

        },
        getTags() {
            var that = this
            let url = '/product/tags/' + this.productID + '/HU'
            axios.get(url).then(response => {
                that.tags = response.data
            }).catch(error => {
                console.log(error)
            })
        }
    }
    
}
</script>