<template>
  <div class="product-list-item">
    <div class="flex flex-row">
      <div class="product-image flex-col">
        <img :src="path" />
      </div>
      <div class="flex-row w-full">
          <h3 class="mb-4">{{ data.name }}</h3>
          <label class="block">Publikálás:</label>
          <span class="publish block mb-4">{{ item.publishBegin }} - {{ item.publishEnd }}</span>
          <label class="block">Ár:</label>
          <span class="price block">{{ item.price }} {{item.code }}</span>
      </div>
      <div class="flex-row">
          <div class="list-item-button">
                <button class="button mb-4" @click="goDetail">Megnéz</button>
                <button class="button" @click="edit">Szerkeszt</button>
          </div>
          
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: ["item"],
  data() {
    return {
      // item: {}
       data: {}
    };
  },
  computed: {
    path: function() {
      return "/storage/" + this.item.imageName;
    }
  },
  mounted() {
    this.getTextData()
  },
  methods: {
    goDetail() {
      this.$root.showDetail(this.item.id)
    },
    getTextData() {
        let that = this
        let url = 'product/data/' + this.item.id + "/HU"
        axios.get(url).then(response => {
          that.data = response.data
        }).catch(error => {
        })
    },
    edit() {
      this.$root.editProduct(this.item)
    }
  }
};
</script>