<template>
  <nav class="flex items-center justify-between flex-wrap p-6" id="header">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <img src="assets/biotech.svg" class="logo"/>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <router-link to="/" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
        
          Products
        </router-link>
        <router-link to="/product/add" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">

          Add product
        
        </router-link>
        
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>