<template>
  <div v-show="showMessage" class="message">

    <div role="alert" class="w-2/5">
      <div class="bg-red text-white font-bold rounded-t px-4 py-2">Hiba</div>
      <div
        class="border border-t-0 border-red-light rounded-b bg-red-lightest px-4 py-3 text-red-dark"
      >
        <p v-for="msg in info.msg" v-bind:key="msg" >{{ msg }}</p>
        <span @click="closeError" class="button cursor-pointer bg-white text-center mt-4">Bezár</span>
      </div>
      

    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            info: this.$root.infos,
            show: false,
            close: false
        }
    },
    computed: {
        showMessage() {
              if (this.info.msg.length == 0) {
                return false
              }
              return true

        }
    },
    methods: {
      closeError() {
        this.$root.closeError()
      }
    },

};
</script>