<template>
    <div class="">
        <label class="typo__label mb-2 inline-block" >Valuta</label>
        <div class="select relative">
        <select v-model="product.currencyID" class="">
              <option v-for="option in options" v-bind:key="option.id" v-bind:value="option.id">
                    {{ option.code }}
              </option>
        </select>
        <div class="select-arrow pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            product: this.$root.product,
            options: []
        }
    },
    mounted() {
        this.$root.$on("RESET-STATE", this.resetState)
        this.getCurrencies()
    },
    methods: {
       getCurrencies() {
           var that = this
           axios.get('/currencies').then(response => {
               that.options = response.data
               that.product.currencyID = that.options[0].id
           }).catch(error => {
               console.log(error)
           })
       },
       resetState() {
           this.product.currencyID = this.options[0].id
       }  
    },
}
</script>