<template>
  <div class="image-uploader cursor-pointer" @click="openFileDialog">
    <img :src="productImage" />
    <input
      type="file"
      accept="image/jpeg, image/png, image/jpg"
      class="hidden"
      ref="selectFile"
      @change="selectedFile"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      store: this.$root.product
    };
  },
  computed: {
    productImage: function() {
      if (this.store.image != "" || this.store.image == undefined) {
        return this.store.image;
      }
      return "assets/upload_image.svg";
    }
  },
  methods: {
    openFileDialog() {
      this.$refs.selectFile.click();
    },
    selectedFile(event) {
      var that = this
      let files = event.target.files;
      for (var i = 0; i < files.length; i++) {
        let file = files[i];
        var reader = new FileReader();


        reader.onload = function(event) {
          var contents = event.target.result;
          that.store.image = contents;
        };
        reader.onerror = function(event) {
          console.error(
            "File could not be read! Code " + event.target.error.code
          );
        };
        reader.readAsDataURL(file);
      }
    }
  }
};
</script>